/* Ocean */
.item-compass {
	background-image: url(img/compass.jpg);
}
.item-voodoo-charm {
	background-image: url(img/voodoo-charm.jpg);
}
.item-locked-box {
	background-image: url(img/locked-box.png);
}

/* Forest */
.item-big-mushroom {
  background-image: url(../img/big-mushroom.png);
}
.item-peppy-sprite {
  background-image: url(../img/peppy-sprite.png);
}
.item-walking-stick {
  background-image: url(../img/walking-stick.png);
}
.item-wooden-shield {
  background-image: url(../img/wooden-shield.png);
}
