body {
  background-color: #000;
  font-family: arial, verdana, sans-serif;
  font-size: .9em;
  line-height: 1.4em;
  color: #BBB;
}
a {
  color: #666;
  text-decoration: none;
}
h1 { float: left; width: 210px; }
h3 { float: left; padding-top: 5px; color: #888; }
img { border: none; }



#header {
  padding: 30px 0 0 40px;
  clear: both;
  width: 1200px;
  height: 75px;
}
#container { width: 1200px; }
#sidebar {
  float:left;
  width: 250px;
}
#sidebar ul {
  margin: 0;
  padding: 0 0 0 40px;
  list-style-type: none;
}
#sidebar ul li {
  width: 180px;
  float: left;
  margin: 0 10px 0 0;
  border-top: 1px solid #222;
  clear: both;
}
#sidebar ul li span {
  color: #666;
  float: right;
  padding: 0 5px 0 0;
  margin: 5px;
}
.slideshow {
  height: 600px;
  width: 800px;
  float: left;
}



#projects {
  float:left;
}
#projects .project {
  width: 900px;
  clear: both;
}
#projects .project #picture {
  float: left;
  width: 350px;
  padding-bottom: 40px;
}
#projects .project #text {
  float: left;
  width: 500px;
  padding-bottom: 40px;
}
#projects .project #text .more {
  padding-left: 20px;
}
#projects .project #text h4 {
  width: 99%;
  margin: 0 0 1.3em 0;
}
#projects .project #text h4 span {
  float: right;
}
#projects .project #text h4 img {
  padding-left: 5px;
}


body {
  width: 99%;
  float:left;
}
#mythos {
  width:1100px;
  margin-left:auto;
  margin-right:auto;
}
#info {
  float:left;
  height: 100%;
  width: 100%;
}
#game {
  float:left;
  padding-bottom:30px;
  width:100%;
}
#controls {
  width:56%;
  padding-left:1%;
  float:left;
  border-left:2px solid yellow;
  border-right:1px solid yellow;
  border-top:2px solid yellow;
  border-bottom:2px solid yellow;
  height:100%;
}
#controls a {
  color:#BBB;
}
#version {
  width:41%;
  float:left;
  padding-left:1%;
  border-left:1px solid yellow;
  border-right:2px solid yellow;
  border-top:2px solid yellow;
  border-bottom:2px solid yellow;
  height:100%;
}
#version ul {
  font-size:70%;
}
#version a {
  color:#BBB;
}