<div class="modal-body">
	<h1>{{theme.intro.header}}</h1>
	<p ng-repeat="paragraph in theme.intro.text">
		{{paragraph}}
	</p>
</div>

<div class="modal-footer">
	<div><button ng-click="pickTrait('stamina')" class="btn btn-primary">{{theme.intro.choices[0]}}</button></div>
	<div><button ng-click="pickTrait('speed')" class="btn btn-primary">{{theme.intro.choices[1]}}</button></div>
	<div><button ng-click="pickTrait('courage')" class="btn btn-primary">{{theme.intro.choices[2]}}</button></div>
</div>