<div class="map">
	<div class="tile-container" ng-repeat="tile in tiles" ng-init="discoverNewTiles()">
		<div class="tile" ng-class="tile.type" ng-click="clickedTile($index, tile.type)">
			{{tile.name}}
		</div>
	</div>
</div>
<div class="hand">
	<div class="card-container" ng-click="showCard(card)" ng-repeat="card in character.hand">
		<div class="card" ng-class="card.type"></div>
		<div class="card-caption">
			{{card.name}}
		</div>
	</div>
</div>






<!-- Popup for items and events -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{popup.name}}</h4>
			</div>
			<div class="modal-body">
				<h1>{{popup.header}}</h1>
				<p ng-repeat="paragraph in popup.text">
					{{paragraph}}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">TODO:options based on type</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->