<div class="map">
	<div class="tile-container" ng-repeat="tile in tiles track by $index">
		<div class="tile" ng-class="getTileClass(tile)" ng-click="clickedTile($index, tile)">
			{{tile.name}}
		</div>
	</div>
</div>
<div class="hand">
	<div class="card-container" ng-click="showCard(card)" ng-repeat="card in character.hand">
		<div class="card" ng-class="card.css"></div>
		<div class="card-caption">
			{{card.name}}
		</div>
	</div>
</div>






<!-- Popup for items and events -->
<div data-backdrop="static" data-keyboard="false" class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel" ng-show="popup.type == 'item'">Item</h4>
				<h4 class="modal-title" id="myModalLabel" ng-show="popup.type == 'event'">Event</h4>
			</div>-->
			<div class="modal-body">
				<h1>{{popup.name}}</h1>
				<p><b>{{popup.header}}</b></p>
				<p ng-repeat="paragraph in popup.text">
					{{paragraph}}
				</p>
			</div>

			<div class="modal-footer" ng-show="popup.type == 'fear'">
				<p ng-show="fearsLeft == 1">The shadows feels darker.</p>
				<button type="button" class="btn btn-default" data-dismiss="modal">Okay...</button>
			</div>

			<div class="modal-footer" ng-show="popup.type == 'item'">
				<div><button type="button" class="btn btn-danger" ng-click="dropItem(popup)" data-dismiss="modal">Drop</button></div>
				<button type="button" class="btn btn-default" ng-click="makePermanent(popup)" data-dismiss="modal">Okay</button>
			</div>

			<div class="modal-footer" ng-show="popup.type == 'event'">
				<p class="risk small">{{attributesString}}</p>
				<div class="risk" ng-show="popup.risk"><button type="button" ng-click="takeRisk(popup)" class="btn btn-primary">{{popup.risk.text[0]}}</button></div>
				<div class="risk" ng-repeat="card in character.hand">
					<button type="button" ng-show="card.optionalUse === true && card.uses > 0" ng-click="useItem(card)" class="btn btn-primary">{{card.useText}}</button>
				</div>
				<div class="outcome"></div>
				<button type="button" class="continue btn btn-default" data-dismiss="modal">Continue</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
