body, html {
	height: 100%;
}

.modal-footer div {
	margin-bottom: 10px;
}

#popup h1 {
	font-size: 2em;
}

.template-container {
	height: 100%;
}

/* the map and its tiles */
.map {
	height: 60%;
}
.map .tile-container {
	height:33.33%;
	width:33.33%;
	float: left;
}
.tile {
	background-size: cover;
	width: 100%;
	height: 100%;
}
.transition.tile {
	border: 2px solid white;
}

/* your hand and its cards */
.hand {
	height: 40%;
}
.hand .card-container {
	height: 12vh;
	width: 12vh;
	float: left;
	padding: 1vh;
	margin: 0 0.5vh;
	margin-bottom: 2.3em;
}
.card {
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 150px;
}
.card-caption {
	text-align: center;
}

/* Ocean tile pictures */
.start {
	background-image: url(img/start.jpg);
}
.buoy {
	background-image: url(img/buoy.jpg);
}
.shore {
	background-image: url(img/shore.jpg);
}
.unexplored {
	background-image: url(img/unexplored.jpg);
}
.floating-crate {
	background-image: url(img/start.jpg);
}
.choppy-waters {
	background-image: url(img/start.jpg);
}

/* Forest tile pictures */
.forest-start {
	background-image: url(img/forest-start.png);
}
.foliage {
	background-image: url(img/foliage.png);
}
.mushroom-circle {
	background-image: url(img/mushroom-circle.png);
}
.old-cabin {
	background-image: url(img/old-cabin.png);
}

/* Item pictures */
.item-compass {
	background-image: url(img/compass.jpg);
}
.item-voodoo-charm {
	background-image: url(img/voodoo-charm.jpg);
}
.item-locked-box {
	background-image: url(img/locked-box.png);
}
